@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
  font-family: 'Pacifico', sans-serif;
  overflow: hidden;
}

body {
  padding: 15px;
  text-align: center;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  height: 95vh;
  padding: 10px;
  background-color: rgba(255,255,255,.5);
}

.wrapper h1 {
  font-size: 45px;
}

.wrapper p {
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  .wrapper h1 {
    font-size: 72px;
  }
  
  .wrapper p {
    font-size: 40px; 
  }
}
