@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
  font-family: 'Pacifico', sans-serif;
}

body {
  text-align: center;
  color: #fff;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
