@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
  font-family: 'Pacifico', sans-serif;
}

body {
  text-align: center;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  padding: 5px;
  position: fixed;
  width: 550px;
  top: 15vh;
  left: 35vw;
  background-color: rgba(255,255,255,.5);
}

.wrapper p {
  font-size: 20px;
}
