@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
  font-family: 'Pacifico', sans-serif;
}

body {
  width: 90%;
  padding: 15px;
  text-align: center;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  padding: 10px;
  width: 600px;
  margin-top: 25px;
  margin-left: 400px;
  background-color: rgba(255,255,255,.5);
}

.wrapper h1 {
  font-size: 45px;
}

.wrapper p {
  font-size: 25px;
}
